main > div {
  /* height: 20px; */
  border: 1px solid red;
  background-color: black;
}

img {
  height: 120px;
}

main {
  padding: 3px 0 0 50px;
  background-color: black;
  /* height: auto; */
  width: 1920px;
  height: 980px;
}

p {
  /* border: 1px solid red; */
  padding-top: 20px;
  color: white;
}
.caroussel {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  /* height: 100px; */
  width: 100%;
  overflow: scroll hidden;
}
/* .caroussel ::-webkit-scrollbar {
  overflow-y: hidden;
} */
